<!DOCTYPE html>
<html>
  <head>
  <link href="//cdn.muicss.com/mui-0.4.7/css/mui.min.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="root"></div>
    <script src="react.js"></script>
  </body>
</html>