<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="//cdn.rawgit.com/justindujardin/ng2-material/gh-pages/v/0.2.5/dist/ng2-material.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.rawgit.com/justindujardin/ng2-material/gh-pages/v/0.2.5/dist/font.css" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" />
  </head>
  <body>
    <root></root>
    <script src="angular2.js"></script>
  </body>
</html>